<div class="bg-[url('/images/main-bg-svg.svg')] bg-cover bg-bottom h-screen w-screen" loading="eager">
    <header class="w-screen h-[10vh] flex justify-between items-center px-[10vw] text-white">
        <span class="cursor-pointer">
            <!-- <img src="svg/logo.svg" alt=""> -->
            WeatherApp</span>
        <div class="items-center gap-8 hidden md:flex">
            <button routerLink="/account/login" class="cursor-pointer">Log In</button>
            <button routerLink="/account/register"
                class="bg-[var(--primary-color)] py-2 px-7 rounded-3xl shadow-[0_5px_8px_0_rgba(0,0,0,0.5)] hover:bg-[var(--primary-color-hover)] cursor-pointer duration-200 ease-in-out">
                Sign Up
            </button>
        </div>
        <div class="items-center justify-center bg-[var(--primary-color)] px-2 py-2 rounded-md flex sm:flex md:hidden">
            <img src="/assets/svg/menu-svg.svg" alt="Menu Icon" class="w-6 h-6 cursor-pointer">
        </div>
    </header>
    <main class="text-white w-screen h-[90vh] flex flex-col justify-center items-left pl-[10vw] gap-5">
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Your Forecast.</h1>
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Anywhere.</h1>
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Anytime.</h1>
        <div>
            <button routerLink="/account/register"
                class="bg-[var(--primary-color)] py-2 px-7 rounded-3xl shadow-[0_5px_8px_0_rgba(0,0,0,0.5)] hover:bg-[var(--primary-color-hover)] cursor-pointer duration-200 ease-in-out">Start
                Now!</button>
        </div>
    </main>
</div>