@if (showMenuIndex()) {
<div class="fixed w-screen h-screen top-0 bg-[rgba(0,0,0,0.9)] z-2">
    <div class="w-full h-auto flex absolute top-[10vh] to-[rgba(0,0,0,1)] pt-5 pb-[50vh]" (click)="onMenuIndexToggle()">
        <ul class="w-full flex flex-col items-end gap-5 px-[10vw]" (click)=" $event.stopPropagation()">
            <li class="flex items-center gap-2 cursor-pointer text-sm">
                <a class="text-white" routerLink="/account/login">Log In</a>
            </li>
            <li class="flex items-center gap-2 cursor-pointer text-sm">
                <a class="text-white" routerLink="/account/register">Sign Up</a>
            </li>
        </ul>
    </div>
</div>
}

<!-- Botón fixed fuera para poder utilizar aún habiendo aparecido el fondo negro -->
<div (click)="onMenuIndexToggle()"
    class="z-3 top-[2.5vh] right-[10vw] cursor-pointer items-center justify-center bg-[var(--primary-color)] px-2 py-2 rounded-md fixed sm:flex md:hidden">
    <img src="/assets/svg/menu-svg.svg" alt="Menu Icon" class="w-6 h-6">
</div>

<div class="bg-[url('/images/main-bg-svg.svg')] bg-cover bg-bottom h-screen w-screen" loading="eager">
    <header class="fixed w-screen h-[10vh] flex justify-between items-center px-[10vw] text-white">
        <span class="cursor-pointer">
            <!-- <img src="svg/logo.svg" alt=""> -->
            WeatherApp</span>
        <div class="items-center gap-8 hidden md:flex">
            <button routerLink="/account/login" class="cursor-pointer">Log In</button>
            <button routerLink="/account/register"
                class="bg-[var(--primary-color)] py-2 px-7 rounded-3xl shadow-[0_5px_8px_0_rgba(0,0,0,0.5)] hover:bg-[var(--primary-color-hover)] cursor-pointer duration-200 ease-in-out">
                Sign Up
            </button>
        </div>
    </header>
    <main class="text-white w-screen h-screen flex flex-col justify-center items-left pl-[10vw] gap-5">
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Your Forecast.</h1>
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Anywhere.</h1>
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Anytime.</h1>
        <div>
            <button routerLink="/main"
                class="bg-[var(--primary-color)] py-2 px-7 rounded-3xl shadow-[0_5px_8px_0_rgba(0,0,0,0.5)] hover:bg-[var(--primary-color-hover)] cursor-pointer duration-200 ease-in-out">Start
                Now!</button>
        </div>
    </main>
</div>