<app-header></app-header>
<!-- Imágen fixed en el fondo -->
<div class="fixed bg-[url('/images/content-bg-svg.svg')] bg-cover w-screen h-screen z-0" loading="eager"></div>

<!-- Botón de usuario para poder usar el menú despues de poner el layer negro, ir a header linea 38-->
<div class="cursor-pointer w-10 h-10 rounded-full fixed bg-white lg:hidden z-3 top-[2.5vh] right-[10vw]"
    (click)="onUserMenuToggle()">
</div>

@if (showSearchBar()) {
<app-search></app-search>
}

@if (showUserMenu()) {
<div class="fixed w-screen h-screen top-0 bg-[rgba(0,0,0,0.7)] z-2">
    <div class="w-full h-auto flex absolute top-[10vh] bg-gradient-to-t from-transparent to-[rgba(0,0,0,1)] pt-5 pb-[50vh]"
        (click)="onUserMenuToggle()">
        <ul class="w-full flex flex-col items-end gap-5 px-[10vw]" (click)=" $event.stopPropagation()">
            <li class="flex items-center gap-2 cursor-pointer text-sm">
                <img src="assets/svg/settings-svg.svg" alt="">
                <a class="text-white" routerLink="/settings">Settings</a>
            </li>
            <li class="flex items-center gap-2 cursor-pointer text-sm">
                <img src="assets/svg/sign-out-svg.svg" alt="">
                <a class="text-[var(--dark-red)]" routerLink="/index">Sign out</a>
            </li>
        </ul>
    </div>
</div>
}

<!-- <div class="relative z-1 bg-cover bg-bottom sm:h-[90vh] h-auto w-screen top-[10vh]"> -->
<div *ngIf="weatherData() as data"
    class="relative z-1 bg-cover bg-bottom sm:h-[90vh] h-auto w-screen top-[10vh] overflow-x-hidden"
    [class.overflow-y-hidden]="showSearchBar()">
    <main
        class="w-screen h-auto grid sm:grid-cols-[2fr_1fr] grid-cols-1 m-auto px-[5vw] lg:px-[5vw] xl:px-[10vw] py-10 gap-5">
        <div class="w-full flex items-center gap-5 justify-between sm:hidden">
            <div (click)="onSearchBarToggle()"
                class="py-2 w-full flex gap-2 bg-[var(--search-bar-background-color)] rounded-3xl px-4 items-center border border-[rgba(255,255,255,0.2)] cursor-pointer">
                <img src="/assets/svg/search-svg.svg" alt="Search Icon" class="w-5 h-5">
                <p class="flex text-[0.7rem] w-full h-full text-[rgba(255,255,255,0.5)]">Buscar ciudad...</p>
            </div>
            <div
                class="text-white flex justify-center items-center gap-1 bg-[var(--small-card-background-color)] px-1 h-full rounded-lg">
                <span (click)="onTemperatureUnitChange('C')" [class.bg-white]="selectedTemperatureUnit() === 'C'"
                    [class.text-black]="selectedTemperatureUnit() === 'C'"
                    class="w-12 text-center cursor-pointer px-3 py-1 hover:bg-white hover:text-black duration-200 ease-in-out rounded-md">
                    ° C
                </span>
                <div class="w-0.5 h-7 bg-[rgba(255,255,255,0.5)]"></div>
                <span (click)="onTemperatureUnitChange('F')" [class.bg-white]="selectedTemperatureUnit() === 'F'"
                    [class.text-black]="selectedTemperatureUnit() === 'F'"
                    class="w-12 text-center cursor-pointer px-2 py-1 hover:bg-white hover:text-black duration-200 ease-in-out rounded-md">
                    ° F
                </span>
            </div>
        </div>

        <!-- AQUI ESTABA EL ERROR LOL | overflow hidden a la columna de la izquierda para que no se salga del contenedor hourly -->
        <div class="flex flex-col gap-5 overflow-hidden">
            <div class="flex h-auto flex-col gap-3 justify-center bg-[url('/images/purple-blur-bg-svg.svg')] bg-cover px-[4vw] py-[4vw] lg:px-8 lg:py-8 text-white rounded-2xl border border-[rgba(255,255,255,0.2)]"
                loading="eager">
                <header class="flex justify-between sm:pb-5 items-center">
                    <div class="flex items-center gap-2">
                        <img src="/assets/svg/pin-white-svg.svg" alt="">
                        <!-- <h3 class="text-[12px] sm:text-base lg:text-lg">{{data.location | json}}</h3> -->
                        <h3 class="text-[12px] sm:text-base lg:text-lg">{{ data.location.region }},
                            {{ data.location.country }}</h3>
                    </div>
                    <h4 class="text-[rgba(255,255,255,0.5)] text-[10px] md:text-sm">
                        Actualizado hace 5min
                    </h4>
                </header>

                <div class="flex items-center justify-between">
                    <div class="flex flex-col gap-3">
                        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">{{ data.current.temp_c }}°
                        </h1>
                        <div>
                            <h2 class="text-sm sm:text-base md:text-lg lg:text-xl">{{ data.current.condition.text }}
                            </h2>
                            <h3 class="text-sm text-[rgba(255,255,255,0.5)]">Sensación térmica {{
                                data.current.feelslike_c }}°</h3>
                        </div>
                    </div>

                    <div>
                        <!-- Repetitive, TO DO -->
                        <ng-container [ngSwitch]="data.current.condition.code">
                            <img *ngSwitchCase="1000" src="/assets/svg/icon-weather/sunny.svg" alt="Sunny"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1003" src="/assets/svg/icon-weather-cloud.svg" alt="Partly cloudy"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1006" src="/assets/svg/icon-weather-cloud.svg" alt="Cloudy"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1009" src="/assets/svg/icon-weather/cloud.svg" alt="Overcast"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1030" src="/assets/svg/icon-weather/mist.svg" alt="Mist"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1063" src="/assets/svg/icon-weather/rain-blue.svg"
                                alt="Patchy rain possible"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1066" src="/assets/svg/icon-weather/snow.svg" alt="Patchy snow possible"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1069" src="/assets/svg/sleet-svg.svg" alt="Patchy sleet possible"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1072" src="/assets/svg/drizzle-svg.svg"
                                alt="Patchy freezing drizzle possible"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1087" src="/assets/svg/thunder-svg.svg"
                                alt="Thundery outbreaks possible"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1114" src="/assets/svg/snow-svg.svg" alt="Blowing snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1117" src="/assets/svg/snow-svg.svg" alt="Blizzard"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1135" src="/assets/svg/fog-svg.svg" alt="Fog"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1147" src="/assets/svg/fog-svg.svg" alt="Freezing fog"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1150" src="/assets/svg/drizzle-svg.svg" alt="Patchy light drizzle"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1153" src="/assets/svg/drizzle-svg.svg" alt="Light drizzle"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1168" src="/assets/svg/drizzle-svg.svg" alt="Freezing drizzle"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1171" src="/assets/svg/drizzle-svg.svg" alt="Heavy freezing drizzle"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1180" src="/assets/svg/rain-blue-svg.svg" alt="Patchy light rain"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1183" src="/assets/svg/rain-blue-svg.svg" alt="Light rain"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1186" src="/assets/svg/rain-blue-svg.svg" alt="Moderate rain at times"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1189" src="/assets/svg/rain-blue-svg.svg" alt="Moderate rain"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1192" src="/assets/svg/rain-blue-svg.svg" alt="Heavy rain at times"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1195" src="/assets/svg/rain-blue-svg.svg" alt="Heavy rain"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1198" src="/assets/svg/rain-blue-svg.svg" alt="Light freezing rain"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1201" src="/assets/svg/rain-blue-svg.svg"
                                alt="Moderate or heavy freezing rain"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1204" src="/assets/svg/sleet-svg.svg" alt="Light sleet"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1207" src="/assets/svg/sleet-svg.svg" alt="Moderate or heavy sleet"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1210" src="/assets/svg/snow-svg.svg" alt="Patchy light snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1213" src="/assets/svg/snow-svg.svg" alt="Light snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1216" src="/assets/svg/snow-svg.svg" alt="Patchy moderate snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1219" src="/assets/svg/snow-svg.svg" alt="Moderate snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1222" src="/assets/svg/snow-svg.svg" alt="Patchy heavy snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1225" src="/assets/svg/snow-svg.svg" alt="Heavy snow"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1237" src="/assets/svg/ice-pellets-svg.svg" alt="Ice pellets"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1240" src="/assets/svg/rain-blue-svg.svg" alt="Light rain shower"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1243" src="/assets/svg/rain-blue-svg.svg"
                                alt="Moderate or heavy rain shower"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1246" src="/assets/svg/rain-blue-svg.svg" alt="Torrential rain shower"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1249" src="/assets/svg/sleet-svg.svg" alt="Light sleet showers"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1252" src="/assets/svg/sleet-svg.svg"
                                alt="Moderate or heavy sleet showers"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1255" src="/assets/svg/snow-svg.svg" alt="Light snow showers"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1258" src="/assets/svg/snow-svg.svg"
                                alt="Moderate or heavy snow showers"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1261" src="/assets/svg/ice-pellets-svg.svg"
                                alt="Light showers of ice pellets"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1264" src="/assets/svg/ice-pellets-svg.svg"
                                alt="Moderate or heavy showers of ice pellets"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1273" src="/assets/svg/thunder-rain-svg.svg"
                                alt="Patchy light rain with thunder"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1276" src="/assets/svg/thunder-rain-svg.svg"
                                alt="Moderate or heavy rain with thunder"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1279" src="/assets/svg/thunder-snow-svg.svg"
                                alt="Patchy light snow with thunder"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchCase="1282" src="/assets/svg/thunder-snow-svg.svg"
                                alt="Moderate or heavy snow with thunder"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                            <img *ngSwitchDefault src="/assets/svg/icon-weather/cloud.svg" alt="Default"
                                class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-32 lg:h-32">
                        </ng-container>
                    </div>
                </div>
            </div>

            <!-- Hourly Forecast -->
            <app-hourly [data]="weatherData()"></app-hourly>

            <!-- Daily Forecast -->
            <app-daily></app-daily>
        </div>
        <div class="flex flex-col gap-5">
            <div
                class="bg-[var(--card-background-color)] px-[4vw] py-[4vw] lg:px-8 lg:py-8 text-white rounded-2xl border border-[rgba(255,255,255,0.2)]">
                <h4 class="text-[12px] sm:text-base lg:text-lg">Condiciones actuales</h4>
                <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-3 pt-3 sm:pt-5 h-auto w-full">
                    <div
                        class="flex justify-between sm:flex-col gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/humidity-svg.svg" alt="">
                            <h5 class="text-[rgba(255,255,255,0.4)] text-sm">Humedad</h5>
                        </div>
                        <h2 class="text-base sm:text-1xl md:text-2xl lg:text-3xl">{{ data.current.humidity }}%</h2>
                    </div>
                    <div
                        class="flex justify-between sm:flex-col gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/wind-svg.svg" alt="">
                            <h5 class="text-[rgba(255,255,255,0.4)] text-sm">Viento</h5>
                        </div>
                        <h2 class="text-base sm:text-1xl md:text-2xl lg:text-3xl">{{ data.current.wind_kph }}km/h</h2>
                    </div>
                    <div
                        class="flex justify-between sm:flex-col gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/pressure-svg.svg" alt="">
                            <h5 class="text-[rgba(255,255,255,0.4)] text-sm">Presión</h5>
                        </div>
                        <h2 class="text-base sm:text-1xl md:text-2xl lg:text-3xl">{{ data.current.pressure_mb }}hPa
                        </h2>
                    </div>
                    <div
                        class="flex justify-between sm:flex-col gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/visibility-svg.svg" alt="">
                            <h5 class="text-[rgba(255,255,255,0.4)] text-sm">Visibilidad</h5>
                        </div>
                        <h2 class="text-base sm:text-1xl md:text-2xl lg:text-3xl">{{ data.current.vis_km }}km</h2>
                    </div>
                </div>
            </div>
            <div
                class="bg-[var(--card-background-color)] px-[4vw] py-[4vw] lg:px-8 lg:py-8 text-white rounded-2xl border border-[rgba(255,255,255,0.2)]">
                <h4 class="text-[12px] sm:text-base lg:text-lg">Mis ubicaciones</h4>
                <div class="flex pt-3 sm:pt-5 w-full h-auto items-center justify-between flex-col gap-3">
                    <div
                        class="flex justify-between gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5 w-full hover:scale-105 duration-100 ease-in-out cursor-pointer">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/sun-blue-svg.svg" alt="">
                            <h5 class="text-sm">Barcelona</h5>
                        </div>
                        <div class="flex items-center gap-2">
                            <h2 class="text-sm md:text-md">19°</h2>
                            <img src="/assets/svg/cross-svg.svg" alt="" class="hidden lg:flex">
                        </div>
                    </div>
                    <div
                        class="flex justify-between gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5 w-full hover:scale-105 duration-100 ease-in-out cursor-pointer">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/sun-blue-svg.svg" alt="">
                            <h5 class="text-sm">Barcelona</h5>
                        </div>
                        <div class="flex items-center gap-2">
                            <h2 class="text-sm md:text-md">19°</h2>
                            <img src="/assets/svg/cross-svg.svg" alt="" class="hidden lg:flex">
                        </div>
                    </div>
                    <div
                        class="flex justify-between gap-1 bg-[var(--small-card-background-color)] px-3 py-3 rounded-lg mt-5 w-full hover:scale-105 duration-100 ease-in-out cursor-pointer">
                        <div class="flex items-center gap-2">
                            <img src="/assets/svg/sun-blue-svg.svg" alt="">
                            <h5 class="text-sm">Barcelona</h5>
                        </div>
                        <div class="flex items-center gap-2">
                            <h2 class="text-sm md:text-md">19°</h2>
                            <img src="/assets/svg/cross-svg.svg" alt="" class="hidden lg:flex">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>