<div class="flex flex-1 flex-col justify-center items-start gap-5">
    <h1 class="text-4xl lg:text-5xl w-full text-center md:text-left">Log in</h1>
    <p class="font-['UbuntuRegular']">
        Don't have an account?
        <a routerLink="/account/register" class="text-[var(--tertiary-color)] underline">Sign up</a>
    </p>
    <form class="flex flex-col gap-5 w-full" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-2">
            <input type="email" placeholder="Email"
                class="w-full bg-[var(--input-background-color)] py-4 px-6 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none"
                [formControl]="emailControl">

            @if (!authService.emailValidation().isValid && emailControl.value) {
            <div class="flex flex-col gap-2">
                <span class="text-xs" [class.text-green-400]="authService.emailValidation().isValid"
                    [class.text-red-400]="!authService.emailValidation().isValid">
                    {{ authService.emailValidation().message }}
                </span>
            </div>
            }
        </div>
        <div class="flex flex-col gap-2">
            <input type="password" placeholder="Enter your password"
                class="w-full bg-[var(--input-background-color)] py-4 px-6 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none"
                [formControl]="passwordControl">

            @if (passwordControl.value && passwordControl.value.length < 8) { <div
                class="flex items-center justify-between">
                <span class="text-xs text-red-400">
                    {{ authService.passwordValidation().message }}
                </span>
        </div>
        }
</div>
<button type="submit"
    class="bg-[var(--tertiary-color)] py-4 px-7 rounded-lg hover:bg-[var(--hover-yellow-color)] cursor-pointer duration-200 ease-in-out">
    Continue
</button>
</form>
</div>