<div class="flex flex-1 flex-col justify-center items-start gap-5">
    <h1 class="text-4xl lg:text-5xl w-full text-center md:text-left">Create an account</h1>
    <p class="font-['UbuntuRegular']">
        Already have an account?
        <a href="/account/login" class="text-[var(--tertiary-color)] underline">Log in</a>
    </p>
    <form action="" class="flex flex-col gap-5 w-full">
        <div class="flex flex-col gap-2">
            <div class="flex flex-col lg:flex-row gap-5 w-full">
                <div class="flex flex-col gap-2 w-full">
                    <input type="text" placeholder="First Name"
                        class="w-full bg-[var(--input-background-color)] py-4 px-6 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none"
                        [formControl]="firstNameControl">
                </div>
                <div class="flex flex-col gap-2 w-full">
                    <input type="text" placeholder="Last Name"
                        class="w-full bg-[var(--input-background-color)] py-4 px-6 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none"
                        [formControl]="lastNameControl">
                </div>
            </div>
            @if (!authService.nameValidation().isValid && (firstNameControl.value || lastNameControl.value)) {
            <div class="flex flex-col gap-2">
                <span class="text-xs" [class.text-green-400]="authService.nameValidation().isValid"
                    [class.text-red-400]="!authService.nameValidation().isValid">
                    {{ authService.nameValidation().message }}
                </span>
            </div>
            }
        </div>

        <div class="flex flex-col gap-2">
            <input type="email" placeholder="Email"
                class="w-full bg-[var(--input-background-color)] py-4 px-6 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none"
                [formControl]="emailControl">

            @if (!authService.emailValidation().isValid && emailControl.value) {
            <div class="flex flex-col gap-2">
                <span class="text-xs" [class.text-green-400]="authService.emailValidation().isValid"
                    [class.text-red-400]="!authService.emailValidation().isValid">
                    {{ authService.emailValidation().message }}
                </span>
            </div>
            }
        </div>
        <div class="flex flex-col gap-2">
            <input type="password" placeholder="Enter your password"
                class="w-full bg-[var(--input-background-color)] py-4 px-6 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none"
                [formControl]="passwordControl">

            @if (passwordControl.value) {
            <div class="flex flex-col gap-2">
                <div class="flex items-center justify-between">
                    <span class="text-xs text-slate-400">Fortaleza:</span>
                    <span class="text-xs" [class.text-red-400]="authService.passwordStrength() < 30"
                        [class.text-yellow-400]="authService.passwordStrength() >= 30 && authService.passwordStrength() < 70"
                        [class.text-green-400]="authService.passwordStrength() >= 70">
                        {{ authService.passwordValidation().message }}
                    </span>
                </div>
                <div class="w-full bg-slate-600 rounded-full h-2">
                    <div class="h-2 rounded-full transition-all duration-300"
                        [class.bg-red-400]="authService.passwordStrength() < 30"
                        [class.bg-yellow-400]="authService.passwordStrength() >= 30 && authService.passwordStrength() < 70"
                        [class.bg-green-400]="authService.passwordStrength() >= 70"
                        [style.width.%]="authService.passwordStrength()"></div>
                </div>
                <!-- <p class="text-sm" [class.text-green-400]="authService.passwordValidation().isValid"
                    [class.text-red-400]="!authService.passwordValidation().isValid">
                    {{ authService.passwordValidation().message }}
                </p> -->
            </div>
            }
        </div>
        <button
            class="bg-[var(--tertiary-color)] py-4 px-7 rounded-lg hover:bg-[var(--hover-yellow-color)] cursor-pointer duration-200 ease-in-out">
            Create account
        </button>
    </form>
</div>